.top_container {
  background-color: #fab1a0;
  position: relative;
  padding-top: 10px;
}

.middle-container {
  background-color: #abf0e9;
  padding: 10px;
  margin-top: 10px;
}

.bottom-container {
  padding: 10px;
  margin-top: 10px;
  background-color: #d4f3ef;
}
body {
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  text-align: center;
  font-family: "Sacramento", cursive;
  font-size: 90px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

hr {
  color: antiquewhite;
}

a {
  color: #ee8572;
}

.work-image {
  border-radius: 60px;
  width: 10%;
}

.my-image {
  border-radius: 80px;
  max-width: 10%;
  max-height: 10%;
}
